<h4>Home - cadastro do Livro</h4>
<form class="form" action="/books/save" method="post">
<div class="form-control">
    <label for="title">Título</label>
    <input type="text" name="title" id="title">
</div>
<div class="form-control">
    <label for="pages">Páginas</label>
    <input type="number" name="pages" id="pages">
</div>
<input type="submit" value="Salvar">
</form>